{% extends "base.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
<h1>О нас</h1>
<p>Мы — дружная, молодая семья, полная любви и поддержки. Отец — Андрей Иванович, талантливый инженер с большим опытом работы. Мама — Глафира Ивановна, учительница с открытым сердцем, которая увлечена своей профессией. Наша дочь Акулина — умная и любознательная девочка, которая только начинает свой путь в школе.</p>

<p>Мы любим проводить время вместе: будь то прогулки по парку, семейные ужины или путешествия. Взаимопонимание и поддержка — основа нашей семьи, и мы верим, что гармоничные семейные отношения создают фундамент для благополучного общества.</p>

<p>Счастливая семья — это не только источник радости для её членов, но и важная часть развития страны и мира. Ведь здоровые и крепкие семьи воспитывают ответственных и заботливых граждан, которые вносят свой вклад в мирное и процветающее будущее. Мы убеждены, что наше семейное счастье — это маленький шаг к общему благополучию общества.</p>
{% endblock %}
